.mainheadingText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}

.secondHeadingText {
  font-family: "Alexandria", sans-serif;
  font-size: 64px;
  line-height: 1;
}

.subHeadingText {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.textTransform {
  text-transform: uppercase;
}

/* testimonal-Slider */

.testimonalFullSection {
  background-image: url("/public/images/homepage/testimonal-banner.jpg");
  height: 837px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .testimonalFullSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/images/homepage/testimonal-banner.jpg");
  background-size: contain;
  background-position: center;
  z-index: -1;
} */

.testimonalSliderContainer {
  width: 54%;
  margin-top: 100px;
  margin-left: 5%;
}

.testimonalPersonImage {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  object-fit: cover;
}

.testimonalPersonImagediv {
  border: 5px solid #e5e5e7;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
}

.testimonalPersonImagediv::before {
  content: "";
  position: absolute;
  width: 179%;
  height: 1px;
  background: #e9e9e9;
  top: 50%;
  right: -138px;
}

.youtubeIcontestimonal {
  width: 50px;
  height: 32px;
}

.testimonalSectionName {
  background-color: #b26dac;
  width: max-content;
  padding: 10px 25px;
  margin-top: 30px;
}

.testimonalSectionName h4 {
  font-family: "Poppins", sans-serif;
  font-size: 22.5px;
  font-weight: bold;
  color: #f5f5f3;
  line-height: 1;
}

.testimonalSectionName p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f3;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 6px;
}

.testimonalContent {
  padding: 20px 35px;
}

.testimonalSliderborder {
  border: 1px solid #d4d4d4;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100%;
  background: #ffffff;
}

.testimonalPersonImageContainer {
  margin-top: 20px;
}

.testimonalSlidersSlide {
  width: 88% !important;
}

.testimonalContent .subHeadingText {
  color: #636465;
}

.testimonalRow .secondHeadingText {
  color: #b26eac;
}

.testimonalFullSection .mainheadingText {
  color: #1d1f22;
}

/* testimonal-Slider */

/* schedule A visitrow */

.schdeuleMainrowsection {
  padding-top: 100px;
}

.scheduleAvisitrow .mainheadingText {
  color: #fafafa;
}

.scheduleAvisitrow .secondHeadingText {
  color: #f9f9f9;
  width: 68%;
  line-height: 0.9;
  margin-top: 10px;
}

.schudleVisitsection {
  /* background-color: #b26eac; */
  /* margin: 60px 0; */
  background-image: url("/public/images/homepage/cta-banner.jpg");
  height: 800px;
}

.schudleVisitsection .container {
  /* padding-top: 100px; */
}

.schudleVisitsection .subHeadingText {
  color: #fafafa;
  width: 50%;
  margin-top: 6px;
}

.sechondHeadingMain {
  display: flex;
  justify-content: center;
}

.scheduleaVisitbutton {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.scheduleaVisitbutton button {
  background-color: #fff;
  width: 156px;
  height: 46px;
  border: 1px solid #7c4c78;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #363435;
  letter-spacing: 1px;
}

/* schedule A visitrow */

/* CurtSlider- Section */

.curlatedLine {
  position: relative;
}

.curlatedLine::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 44%;
  background: #d5bed0;
  top: 50%;
}

.curlatedArrow img {
  width: 40px;
  height: 40px;
}

.curtedSectionMainRowBg {
  background-image: url("/public/images/homepage/cursedBanner.jpg");
  height: 895px;
}

.curtsectionrow {
  display: flex;
  padding-top: 100px;
}

.curtSliderLeftSection {
  margin-left: 9%;
}

.curtSliderLeftSection .secondHeadingText {
  text-transform: uppercase;
}

.curtLivingSlider {
  width: 50%;
}

.curatedSliderContainer {
  width: 350px;
}

.curatedSliderContainer {
  border: 8px solid transparent;
  position: relative;
}

.curatedSliderContainer::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -8px;
  width: 104%;
  height: 10%;
  border-bottom: 8px solid #a24f9b;
  border-left: 8px solid #a24f9b;
  border-right: 8px solid #a24f9b;
  box-sizing: border-box;
}

.natureIntergreated {
  position: absolute;
  background-color: #b26eac;
  left: 20px;
  padding: 0px 8px;
  font-family: "Alexandria", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.1;
}

.natureIntergreated:nth-child(2) {
  top: 20px;
}

.natureIntergreated:nth-child(3) {
  top: 46px; /* adjust spacing as needed */
}

.natureIntergreated:nth-child(4) {
  top: 72px; /* adjust spacing as needed */
}

.curtSliderLeftSection .secondHeadingText {
  width: 30%;
  color: #b26eac;
  line-height: 0.9;
  font-weight: 600;
}

.curtSliderLeftSection .subHeadingText {
  width: 59%;
  margin-top: 30px;
  color: #636465;
}
/* CurtSlider- Section */

/* Footer-Css */

.FooterMainDiv {
  background-color: #121212;
  padding: 90px 0;
}

.FooterInnerDiv {
  position: relative;
}

.FooterInnerDiv h5 {
  color: #d5d5d5;
  text-transform: uppercase;
  font-weight: bold;
}

.footerListsul li {
  color: #cbcbcb;
  color: #8b8b8b;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 2px;
}

.footerListsul {
  display: flex;
  column-gap: 30px;
  margin-top: 10px;
}

.FooterSplit {
  display: flex;
  column-gap: 7%;
  justify-content: center;
}

.FooterInnerDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: -56px;
  width: 1.5px;
  height: 100%;
  background-color: #222222;
}

.footercopyRight {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  position: relative;
  margin-left: 1.5%;
  margin-right: 5%;
}

.footercopyRight .subHeadingText {
  color: #8b8b8b;
  text-transform: uppercase;
}

.designByOpendesigns {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.iconsFooters {
  display: flex;
  column-gap: 10px;
}

.iconsFooters img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.iconsMainDivFooter {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footercopyRight::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222222;
}

.text-hover-underline:hover {
  cursor: pointer;
}

.text-hover-underline {
  position: relative;
  text-decoration: none;
  color: #000;
  width: max-content;
}

.text-hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Adjust depending on font */
  width: 0;
  height: 2px;
  background-color: #8f8f8f; /* underline color */
  transition: width 0.3s ease;
}

.text-hover-underline:hover::after {
  width: 100%;
}

/* Footer-Css */

/* What Makes keystone Unique */

.whatMakesHeading1 {
  text-transform: uppercase;
  text-align: center;
  color: #b26eac;
  font-weight: 600;
}

.whatMakesHeading2 {
  text-transform: uppercase;
  text-align: center;
  color: #1d1f22;
  font-weight: 600;
  line-height: 0.7;
}

.WhatMakesKeyStonesFlex {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.WhatMakesKeyStonesFlex p {
  width: 70%;
}

.whatsmakeSectionBG {
  background-image: url("/public/images/homepage/seond-banner.jpg");
  height: 1120px;
}

.whatMakesHeadingMainRow {
  padding-top: 100px;
}

.FirstcontentWhatMakesSection .secondHeadingText {
  text-transform: uppercase;
  line-height: 0.8;
}

.FirstcontentWhatMakesSection .subHeadingText {
  text-transform: uppercase;
  background-color: #773770;
  color: #fff;
  width: max-content;
  padding: 0 5px;
  line-height: 1.1;
}

.FirstcontentWhatMakesSection {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  column-gap: 26%;
}

.FlexFirstcontentWhatMakesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.FlexFirstcontentWhatMakesSection:nth-child(2) {
  align-items: flex-start;
}

.FirstcontentWhatMakesSection.lastSectionWhatMakes {
  justify-content: center;
  width: 100%;
}

.lastSectionWhatMakes .FlexFirstcontentWhatMakesSection {
  width: max-content;
  margin-top: 50px;
  align-items: center;
}

/* What Makes keystone Unique */

/* Live The ThoughtFull */

.LiveThoughtFlex .LiveThoughtFlexImg {
  position: relative;
}

.knowMoreButtonImage {
  position: absolute;
  bottom: -17px;
  left: 41%;
  background: #fff;
  color: #884f79;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.2;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.yearsScrollText {
  display: flex;
  align-items: flex-end;
  margin-top: 60px;
  position: relative;
}
.yearsScrollText::before {
  content: "";
  position: absolute;
  bottom: -27px;
  left: -88px;
  width: 113%;
  height: 2px;
  height: 1px;
  background-color: #a7718a;
}

.yearsScrollText:last-child:before {
  content: none;
}

.yearsScrollText h6 {
  font-size: 200px;
  line-height: 0.75;
  color: #fff;
}

.yearsScrollText span {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  width: 39%;
  line-height: 0.9;
  color: #fff;
  margin-left: 11px;
}

.yearsScrollText.projectsScroll h6 {
  font-size: 95px;
  line-height: 0.75;
}

.yearsScrollText.projectsScroll::before {
  font-size: 95px;
  line-height: 0.75;
}

.LiveThoughtFlex {
  display: flex;
  align-items: center;
  column-gap: 6%;
  margin-top: 20px;
}

.LiveThoughtsBg {
  /* background-color: #a7578f; */
  padding: 100px 0;
  background-image: url("/public/images/homepage/livethroughBg.jpg");
}

.yearsScrollText.projectsScroll span {
  font-size: 19px;
  color: #fff;
  width: 24%;
  line-height: 1;
}

.LiveThoughtsBg .secondHeadingText {
  text-transform: uppercase;
  line-height: 0.8;
  color: #fff;
  position: relative;
}

.LiveKeystonePromoters {
  margin-top: 10px;
}

.LiveThoughtsBg .mainheadingText {
  font-weight: 500;
}

.LiveThoughtsBg .subHeadingText {
  color: #ffffff;
  line-height: 1.3;
  width: 83%;
  margin-top: 20px;
  font-weight: 300;
}

.LiveThoughtFlex .secondHeadingText::before {
  content: "+";
  position: absolute;
  top: -13px;
  right: -7px;
  font-size: 33px;
  font-weight: 600;
}

.LiveThoughtFlex .projectsScroll .secondHeadingText::before {
  top: -12px;
  right: -14px;
  font-size: 23px;
}

/* Live The ThoughtFull */

/* ArchitureSection */

.ArchitectureContent {
  /* display: flex;
  position: absolute;
  top: 0; */
}

.ArchitectureContent h4 {
  /* display: none; */
}

.ArchitectureContent .secondHeadingText {
  text-transform: uppercase;
  font-size: 40px;
  transform: rotate(270deg);
  width: 359px;
  position: absolute;
  top: 46%;
  left: -31%;
  text-align: end;
  font-weight: 500;
}

.architectureWidth {
  width: 26%;
  position: relative;
}

.architectureWidth img {
  width: 100%;
}

.ArchitectureContent .subHeadingText {
  width: 100%;
  text-align: left;
}

.ArchitectureContent button {
  text-transform: uppercase;
  text-decoration: 3px underline;
  text-underline-offset: 5px;
}

.archisecondHeadingText {
  width: 65%;
  position: absolute;
  top: 0;
  left: 26%;
  top: 14%;
}

.archisecondHeadingText button {
  margin-top: 15px;
  font-weight: 600;
}

.MainarchitectureWidth {
  display: flex;
  justify-content: center;
  column-gap: 5%;
}

.archiBg {
  background-image: url("/public/images/homepage/architureBG.jpg");
  height: 770px;
  display: flex;
  align-items: center;
}

/* ArchitureSection */

/* On Going Projects */
.projectsNameOnGoing {
  margin-bottom: 18px;
  margin-top: 18px;
  position: relative;
}

.projectsNameOnGoing::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #7d3c69;
  width: 100%;
  bottom: -16px;
}

.projectsNameOnGoing:nth-child(3)::before {
  content: none;
}

.projectsNameOnGoing:first-child {
  margin-top: 0;
}

.ongoingProjectSection {
  display: flex;
  align-items: center;
  height: 370px;
}

.projectsNameOnGoing h5 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
  width: max-content;
  color: #ffffff;
}

.projectsNameOnGoing span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
}

.projectsNameOnGoingmAINcONTAINER {
  background-color: #550e40;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  margin-left: -3px;
  padding-right: 50px;
}

.ongoingProjectSection img {
  width: auto;
  height: 100%;
  border: 2px solid #fff;
}

.onGoingViewProject {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 2px;
  padding: 1px 0;
  border-top: 2px solid #7d3c69;
  width: max-content;
  border-bottom: 2px solid #7d3c69;
}

.ongoingBg {
  padding: 100px 0;
  background-image: url("/public/images/ongoing-images/onGoingProjectsBg.jpg");
}

.onGoingRightSection {
  width: 30%;
  margin-top: 5%;
}

.onGoingRightSection .mainheadingText {
  text-transform: uppercase;
  line-height: 0.8;
  color: #fff;
}

.onGoingRightSection .secondHeadingText {
  text-transform: uppercase;
  width: 30%;
  line-height: 0.8;
  color: #fff;
  margin-top: 15px;
}

.onGoingMainSectionDiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 50px;
  margin-top: 50px;
}

.onGoingRightSection .mainheadingText.onGoingSecondTextContainer {
  line-height: 1.1;
  width: 90%;
  font-size: 32px;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 0;
}

.ArchitectureContent .subHeadingText {
  width: 100%;
  text-align: left;
}

.secondSliderContentSections .subHeadingText {
  margin-top: 25px;
  color: #fff;
  width: 90%;
  font-weight: 400;
}

.onGoingMainSectionDiv:last-child .onGoingRightSection {
  margin-top: 2%;
}

.onGoingMainSectionDiv:first-child {
  margin-top: 0;
}

.onGoingRightSection .customDots .dot {
  background: #a46198;
  width: 34px;
  height: 9px;
  border-radius: 5px;
  margin: 0 5px;
}

.onGoingRightSection .customDots .dot.active {
  background: #f4eef3;
}

.onGoingRightSection .customDots {
  margin-top: 25px;
}

/* On Going Projects */

/* Header */

.HeaderMainSEC {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  /* margin-top: 30px; */
}

.HeaderMainSEC .headerLogoImg {
  padding: 10px 0;
  width: 200px;
}

.headerHomePage .HeaderMainSEC {
  margin-top: 30px;
}

.listHeaders {
  display: flex;
  justify-content: center;
  column-gap: 45px;
  align-items: center;
  position: relative;
}

.headerTop .listHeaders {
  position: relative;
}

.headerTop .listHeaders::before {
  content: "" !important;
  position: absolute !important;
  width: 159% !important;
  height: 1px !important;
  background-color: #a085a0 !important;
  bottom: -1px !important;
  /* right: 0; */
  left: -74% !important;
}

.listHeaders li:hover {
  color: #b26eac !important;
  cursor: pointer;
}

.listHeaders li {
  font-family: "Alexandria", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}

.headerHomePage .listHeaders li {
  color: #fff;
  font-weight: 600;
}

.hamburgerIconImage {
  width: 40px;
  height: 40px;
}

.hamburgerflex {
  display: flex;
  align-items: center;
  column-gap: 17px;
  background-color: #c5c5c5;
  padding: 5px 20px;
}

.hamburgerflex span {
  font-family: "Alexandria", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.headerTop {
  display: flex;
  background: #b26dac;
  padding: 8px 2%;
  justify-content: space-between;
}

.headerTop .mailHeadingText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
.headerTop .mailHeadingText span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

/* Header */

/* Video Banner   */

.contentHeadingBanner .secondHeadingText {
  font-size: 170px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 0.9;
}

.contentHeadingBanner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(161, 105, 155, 0.75);
  background: rgba(98, 5, 88, 0.6);
  padding-top: 120px;
}

.videoBannermainContainer {
  position: relative;
}

.withTextContent {
  font-family: "Alex Brush", cursive;
  font-size: 95px;
  line-height: 0.6;
  color: #fff;
}

.contentHeadingBanner .subHeadingText {
  color: #fff;
  width: 40%;
  text-align: center;
  margin-top: 10px;
}
.videoBannerVideoFILE {
  height: 100vh;
}

.videoBannerVideoFILE video {
  /* display: block; */
}

.headerHomePage {
  position: absolute;
  top: 0;
  width: 100%;
}

.headerHomePage .headerTop {
  display: flex;
  background: #b26dac;
}

.headerHomePage .headerTop {
  background-color: #481242;
}

/* Video Banner   */

/* Contact-Page-CSS  */

.detailPageBanners img {
  width: 100%;
}

.detailPageBanners h5 {
  text-transform: uppercase;
  font-size: 130px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  line-height: 0.8;
}
.detailPageBanners {
  background-image: url("/public/images/Contact-Us-Banner.jpg");
  height: 523px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailPageBanners .subHeadingText {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

.BreadCrumSection {
  display: flex;
  column-gap: 10px;
  margin-top: 15px;
}

.contactUsBannerPageBg {
  background-image: url("/public/images/contact-us-bg-fom.jpg");
  height: 560px;
  position: relative;
}

.formContactUsSection {
  display: flex;
  justify-content: center;
}

.formContactUsSectionFlex {
  background-image: url("/public/images//contact-us-bg-form-inside-bg.jpg");
  width: 1065px;
  background-color: #fff;
  padding: 0px 70px;
  position: absolute;
  bottom: -89%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContactUsSectionFlex .secondHeadingText {
  text-transform: uppercase;
  color: #b36ead;
  font-weight: 600;
}

.formContactUsSectionFlex .subHeadingText {
  color: #636465;
}

.contactFormInputEach label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.contactFormInputEach label sup {
  color: red;
}

.contactFormInputEach input {
  height: 50px;
  width: 100%;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  margin-top: 10px;
}

.formMainStyleContactPage {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
  row-gap: 25px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.contactFormInputEach {
  width: 37%;
}

.contactFormInputEach button {
  background: #b26dac;
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  margin-top: 13px;
}

.contactPageBgPadding {
  padding-bottom: 515px;
}

.bannerafterSectionMAIN {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  align-items: center;
}
.seondbannerafterSectionMAIN {
  width: 225px;
  height: 225px;
  background-color: #feff99;
  border-radius: 50%;
}

.firstbannerafterSectionMAIN {
  width: 30%;
}

.thirdbannerafterSectionMAIN {
  width: 30%;
}

.afterMainBG {
  background-color: #b26dac;
  padding: 100px 0;
}

.gettknowHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffff98;
}
.visitOurOFficetext {
  font-family: "Poppins", sans-serif;
  font-size: 47px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff;
}

.contactPageAddress {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  width: 80%;
}

/* Contact-Page-CSS  */

/* Ongoing-Projects-CSS  */

.ongoingProjectsPage .detailPageBanners {
  background-image: url("/public/images/ongoing-images/project-Iisting-main-bg.jpg");
}

.ongoingProjectsPage .thirdbannerafterSectionMAIN {
  width: 26%;
}

.ongoingProjectsPage .afterMainBG {
  background-image: url("/public/images/ongoing-images/project-Iisting-second-bg.jpg");
  padding: 100px 0;
  height: 506px;
}

.onGoingProjectsLists {
  background-color: #fff;
  position: relative;
}

.mainRowonGoingProjectsLists {
  display: flex;
}

.onGoingProjectsLists h5 {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1;
  width: max-content;
  color: #bc5d9a;
}

.onGoingProjectsLists span {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  color: #686868;
}

.FirstonGoingProjectsLists,
.secondonGoingProjectsLists,
.thirdonGoingProjectsLists {
  margin-bottom: 33px;
  position: relative;
}

.mainRowonGoingProjectsLists {
  width: 84%;
  margin-bottom: 100px;
}
.mainRowonGoingProjectsLists img {
  width: 55%;
}

.mainRowonGoingProjectsLists .onGoingProjectsLists {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1.5px solid #e1bbd3;
  padding-left: 45px;
}

.FirstmainonGoingProjectsLists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttononGoingProjectsLists {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #b25d94;
  width: 35%;
  height: 50px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.FirstonGoingProjectsLists::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #dbc5d3;
  width: 100%;
  bottom: -16px;
}

.secondonGoingProjectsLists::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #dbc5d3;
  width: 100%;
  bottom: -16px;
}

.thirdonGoingProjectsLists {
  margin-bottom: 0;
}

.ongoingProjectsDiVMain {
  margin-top: -105px;
  border-bottom: 2px solid #cdb5c7;
  padding-bottom: 50px;
}
/* Ongoing-Projects-CSS  */

/* Careers Page -CSS  */

.CarrePageMainSection .detailPageBanners {
  background-image: url("/public/images/careers/careers-page-banner.jpg");
}

.CarrePageMainSection .firstbannerafterSectionMAIN {
  width: 34%;
}

.CarrePageMainSection .thirdbannerafterSectionMAIN {
  width: 32%;
}

.careersCurrentOpenings {
  background-image: url("/public/images/careers/careers-page-banner-current-openings.jpg");
  height: 845px;
  display: flex;
  align-items: center;
}

.careersCurrentOpeningSection .secondHeadingText {
  text-transform: uppercase;
  color: #b26eac;
  text-align: center;
  font-weight: 600;
}

.careersCurrentOpeningSection .subHeadingText {
  font-weight: 500;
}

.careersCards img {
  width: 61px;
  height: 61px;
}

.careersCards {
  display: flex;
  column-gap: 15px;
  padding: 35px 30px;
  background: white;
  width: 30%;
  border-radius: 20px;
  position: relative;
}

.careersCards h4 {
  width: 100%;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #111019;
  font-weight: 600;
}

.careersCards .subHeadingText {
  margin-top: 10px;
  color: #636465;
  width: max-content;
}

.careersCardsMaxwidth {
  width: max-content;
}

.careerCardsFLex {
  display: flex;
  justify-content: center;
  column-gap: 3.5%;
  row-gap: 50px;
  flex-wrap: wrap;
  width: 80%;
}

.careersMainContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.careersCards button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #b26dac;
  color: #fff;
  font-size: 13px;
  padding: 4px 15px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.worthwithUsSection {
  background-image: url("/public/images/careers/careers-page-banner-form.jpg");
  height: 815px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.worthwithUsSection .secondHeadingText {
  font-weight: 600;
  text-transform: uppercase;
  color: #b26eac;
}

.worthwithUsSection .subHeadingText {
  font-weight: 500;
  color: #636465;
}

.mainSectionFormWithUs {
  width: 70%;
}

.CarrePageMainSection .formContactUsSectionFlex {
  padding: 0px 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: none;
  position: unset;
  width: 100%;
  background-color: transparent;
  box-shadow: unset;
}

.CarrePageMainSection .contactFormInputEach {
  width: 40%;
  align-self: end;
}

.CarrePageMainSection .formMainStyleContactPage {
  row-gap: 20px;
}

.CarrePageMainSection .contactFormInputEach input {
  margin-top: 5px;
}

/* Careers Page -CSS  */

/* Joint Venture Page -CSS  */

.JointVenturePage .formContactUsSectionFlex {
  padding: 0px 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: none;
  position: unset;
  width: 100%;
  background-color: transparent;
  box-shadow: unset;
}

/* Joint Venture Page -CSS  */

/* Channel-Partner Page -CSS  */

.channelPartnerMainSection .firstbannerafterSectionMAIN {
  width: 50%;
}

.channelPartnerMainSection .detailPageBanners {
  background-image: url(/public/images/channel-partner-page-banner.jpg);
}

.channelPartnerMainSection .formContactUsSectionFlex {
  padding: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: none;
  position: unset;
  width: 40%;
  width: 28%;
  /* width: 100%; */
  background-color: transparent;
  box-shadow: unset;
}

.channelPartnerFormSection {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  column-gap: 100px;
}

.channelPartnerMainSection .contactFormInputEach {
  width: 100%;
}
.channelPartnerFormSection .formChannelPartnerImage {
  width: 35%;
  height: 45%;
}

.channelPartnerFormSection .contactFormInputEach input {
  margin-top: 0px;
}

.channelPartnerFormSection .formMainStyleContactPage {
  row-gap: 25px;
  margin-top: 0;
}

.channelPartnerFormFirst .secondHeadingText {
  text-transform: uppercase;
  color: #b26eac;
  font-weight: 600;
}

.channelPartnerFormFirst .subHeadingText {
  color: #636465;
}

.channelPartnerFormFirst {
  background-image: url("/public/images/channel-partner-form-banner.jpg");
  height: 890px;
  display: flex;
  align-items: center;
}

.channelContentPartner {
  margin-left: 15%;
  width: 52%;
}

/* Channel-Partner Page -CSS  */

/* Project Detail -CSS  */

/* 1st */

.detailPageBanners .secondHeadingText {
  font-size: 100px;
}

.projectDetailIconSection {
  display: flex;
  align-items: center;
  position: relative;
}

.projectDetailIconSection::before {
  content: "";
  height: 70%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: -27px;
}

.projectDetailIconSection:last-child:before {
  content: none;
}

.projectDetailIconSection img {
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.projectDetailIconSection .mainheadingText {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 0.9;
  margin-left: 10px;
}

.projectDetailFlexdiv {
  display: flex;
  column-gap: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  padding-right: 10px;
}

.projectDetailPage .BreadCrumSection {
  margin-top: 25px;
}

.projectDetailPage .firstbannerafterSectionMAIN {
  width: 40%;
}

.projectDetailPage .afterMainBG {
  background-image: url("/public/images/project-detail/project-detail-page-rose-banner.jpg");
  height: 496px;
  display: flex;
  align-items: center;
  padding-top: 0;
}

/* 1st */

/* 3rd */

.ProjectDetailSectionContentSection {
  max-width: 1099px;
}

.ProjectDetailSectionContentSection .projectDetailBannerIMageMain {
  border: 10px solid #b7a5cf;
}

.mainContainerDetailProject {
  display: flex;
  justify-content: center;
}

.projectDetailProjectName {
  display: flex;
  align-items: flex-end;
  column-gap: 25px;
  flex-direction: column;
  width: 50%;
}

.noffloorswidth {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  border-bottom: 2px solid #b9aace;
}

.projectDetailProjectName img {
  width: 75px;
}

.projectNameDetailPage h5 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1;
  width: max-content;
  color: #b26eac;
}

.projectNameDetailPage p {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  width: max-content;
  color: #111610;
  margin-top: 10px;
}

.projectdetailflex {
  display: flex;
  column-gap: 20px;
  border-bottom: 2px solid #c8bcd8;
  padding-bottom: 20px;
  width: 95%;
  padding-left: 50px;
  padding-top: 20px;
  align-items: center;
}

.projectNameDetailPage.projectdetailflex p {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 6px;
}

.mainconatinerprojectflex {
  display: flex;
  border-bottom: 2px solid #c8bcd8;
  padding-bottom: 20px;
  column-gap: 23px;
  width: 95%;
  padding-left: 50px;
  align-items: center;
  padding-top: 20px;
}

.spectraprojectdetailssection {
  display: flex;
  justify-content: center;
  position: relative;
}

.nooffloors {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  width: max-content;
  color: #111610;
  margin-top: 15px;
  margin-bottom: 16px;
}

.nooffloors span {
  font-weight: 700;
  color: #404040;
}

.spectraprojectdetailssection::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #b9aace;
  position: absolute;
  left: 50%;
}

/* 3rd */

.projectspecifiationclass .secondHeadingText {
  color: #b26eac;
  font-weight: bold;
  margin-bottom: 12px;
}

.projectspecificationcard {
  width: 90%;
  background: #fff;
  border-radius: 20px;
  padding: 30px 42px;
  height: 347px;
  border-bottom: 6px solid #772c72;
}

/* .projectsspccards .slick-slide {
 display: flex;
} */

.projectspecificationcard .projectspecicon {
  width: 100px;
}

.projectspeclist li span {
  font-weight: 600;
}

.projectspecname {
  font-family: "Alexandria", sans-serif;
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
  color: #b26eac;
  margin-top: 15px;
  position: relative;
  width: max-content;
}

.projectspecname::before {
  content: "";
  width: 106%;
  height: 6px;
  background-color: #b26eac;
  position: absolute;
  top: 36px;
  z-index: 1;
}

.projectspeclist {
  position: relative;
  padding-top: 25px;
}

.projectspeclist::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #d2cde1;
  position: absolute;
  top: 11px;
}

.projectspeclist li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #575757;
  margin-top: 9px;
}

.projectspecifiationclass {
  /* background-color: #edeef2; */
  background-image: url("/public/images/project-detail/specifcation-bg.jpg");
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsspccards {
  margin-top: 80px;
}

.projectDetailPage .curlatedLine {
  margin-top: 50px;
  column-gap: 150px;
}

.projectDetailPage .curlatedLine::before {
  height: 1px;
  width: 9%;
  background: #d3d4d6;
}

.projectDetailPage .curlatedArrow img {
  width: 47px;
  height: 47px;
}

.projectaminitessection {
  background-image: url("/public/images/project-detail/aminites-bg.jpg");
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectaminitessection .secondHeadingText {
  color: #b26eac;
  text-align: right;
  font-weight: 600;
  line-height: 0.9;
  margin-top: 5px;
}

.projectaminitessection .subHeadingText:first-child {
  text-align: end;
  color: #4d287d;
  font-weight: 600;
}

.projectaminitessection .subHeadingText:last-child {
  text-align: end;
  color: #3c3c3c;
  font-weight: 500;
  padding-left: 50%;
  margin-top: 10px;
  font-size: 19px;
}

.aminitessectionproject {
  position: relative;
  width: 90%;
  margin-left: 12px;
}

.contentaminities {
  position: absolute;
  top: 25px;
  width: max-content;
  background: #8d5089;
  padding: 5px 8px;
  font-size: 26px;
  color: #fefefe;
  font-family: "Alexandria", sans-serif;
  text-transform: uppercase;
  left: 25px;
  font-weight: 500;
}

.aminitessectionproject::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -6px;
  width: 103%;
  height: 10%;
  border-bottom: 9px solid #901788;
  border-left: 9px solid #901788;
  border-right: 9px solid #901788;
  box-sizing: border-box;
}

.projectaminitesslider {
  width: 70%;
}

.mainprojectaminitesslider {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.aminitessectionproject img {
  width: 100%;
}

.projectaminitesslider .slick-slider .slick-list {
  padding-bottom: 65px;
}

.projectaminitesslider .slick-slide div div {
  display: flex !important;
  justify-content: center;
}

.projectaminitessection .curlatedLine {
  margin-top: 1px;
  column-gap: 150px;
}

.arrowwidthsection {
  width: 100%;
  display: flex;
  justify-content: end;
}

.onearrowwidthsection {
  width: 70%;
}

.projectaminitessection .curlatedLine::before {
  height: 1px;
  width: 13%;
  background: #8b8b8b;
}

.projectlocationshighlights {
}

.projectlocationshighlights .secondHeadingText {
  color: #b26eac;
  font-weight: 600;
  text-align: left;
  padding-left: 7%;
}

.projectlocationshighlights .subHeadingText {
  color: #3c3c3c;
  text-align: left;
  padding-left: 7%;
  margin-top: 10px;
}

/* Project Detail -CSS  */
